{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block title %}AECC | Password Change Done{% endblock %}
{% block subheaderpic %}
	<div class="parallax" gumby-parallax="0.5" gumby-offset="60" id="password_reset_done">
		<div class="row" id="subheader-tittle">
			<div>
				<span id="initial-page-header">
					<h1>
						Change Password
					</h1>
					<h2 id = "page-header-subtittle">
						Your password is now changed.
					</h2>
				</span>
			</div>
		</div>
	</div>
{% endblock %}