{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}AECC | Reset Done{% endblock %}
{% block subheaderpic %}
	<div class="parallax" gumby-parallax="0.5" gumby-offset="60" id="password_reset_done">
		<div class="row" id="subheader-tittle">
			<div>
				<span id="initial-page-header">
					<h1>
						Password Reset
					</h1>
					<h2 id = "page-header-subtittle">
						We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
					</h2>
				</span>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
    <div class="row">
    	<div class="twelve columns">
    		<div class="centered eight columns">
			    {% if user.is_authenticated %}
			    {% include "account/snippets/already_logged_in.html" %}
			    {% endif %}
    		</div>
    	</div>
    </div>
{% endblock %}
