{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% load url from future %}

{% block title %}AECC | Reset Password{% endblock %}
{% block subheaderpic %}
    <div class = "parallax" gumby-parallax="0.5" gumby-offset = "60" id="sign_up_picture">
        <div class = "row" id = "subheader-tittle">
            <div class = "block">
                <article>
                    <span id="page-header">
                        <h1>
                            Password Reset
                        </h1>
                    </span>
                </article>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<br>
    <div class="row">
        <div class="twelve columns">
            <div class="centered eight columns">
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                
                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                
                <div class="twelve columns">
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        <ul>
                            <li class="field">
                                <p id="error">
                                    {{form.email.errors}}
                                </p>
                                <label for="id_label">E-mail:</label>
                                <input class="input" type="text" size="30" id="id_email" name="email" placeholder="Enter your e-mail...">
                            </li>
                        </ul>
                        <div class="twelve columns">
                            <div class="medium success btn pull_right">
                                <input type="submit" value="{% trans "Reset My Password" %}" />
                            </div>
                        </div>
                    </form>
                    <br>
                    <p>Please contact us if you have any trouble resetting your password.</p>           
                </div>
                
            </div>
        </div>
    </div>
<br>
{% endblock %}

{% block extra_js %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
