{% extends "account/base.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}AECC | Change Password{% endblock %}
{% block subheaderpic %}
    <div class = "parallax" gumby-parallax="0.5" gumby-offset = "60" id = "event_picture">
        <div class = "row" id = "subheader-tittle">
            <div class = "block">
                <article>
                    <span id="page-header">
                        <h1>
							Change Password
                        </h1>
                    </span>
                </article>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="twelve columns">
			<div class="centered eight columns">
				    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        				{% csrf_token %}
        				<ul>
        					<li>
        						<label for="id_password1">New Password:</label>
								<input id="id_password1" name="password1" class="input" size="30" type="password" placeholder="Enter your new password...">
        					</li>
        					<li>
        						<label for="id_password2">New Password (again)</label>
        						<input id="id_password2" name="password2" class="input" size="30" type="password" placeholder="Enter your new password (again)...">
        					</li>
        				</ul>
        				<div class="medium success btn pull_right">
        					<button type="submit" name="action">Change Password</button>
        				</div>
    			</form>
			</div>
		</div>
	</div>
{% endblock %}
