{% extends "base.html" %} 
{% block title %} AECC | Sign Up {% endblock %}
{% block subheaderpic %}
<div class="parallax" gumby-parallax="0.5" gumby-offset="60" id="sign_up_picture">
    <div class="row" id="subheader-tittle">
        <div class="block">
            <article class="translucent_border_people">
                <h1 id="page-header">
                    Join Us
                </h1>
            </article>
        </div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="row">
    <div class="centered eight columns">
        <form action="" method="post">{% csrf_token %}
            <fieldset>
                <legend>Join us</legend>
                <ul>
                    <li class="field">
                        <p id = "error">
                            {{form.first_name.errors}}
                        </p>
                        <label for="id_first_name">Firstname:</label>
                        <input class="input" id="id_first_name" maxlength="20" name="first_name" type="text" placeholder="Enter your first name..." />
                    </li>
                    <li class="field">
                        <p id = "error">
                            {{form.last_name.errors}}
                        </p>
                        <label for="id_last_name">Lastname:</label>
                        <input class="input" id="id_last_name" maxlength="40" name="last_name" type="text" placeholder="Enter your lastname..." />
                    </li>
                    <li class="field">
                        <p id = "error">
                            {{form.student_number.errors}}
                        </p>
                        <label for="id_student_number">Student Number:</label>
                        <input class="input" id="id_student_number" maxlength="9" name="student_number" type="text" placeholder="Enter your student number..." />
                    </li>
                    <li class="field">
                        <p id = "error">
                            {{form.gender.errors}}
                        </p>
                        <label for="id_gender">Gender:</label>
                        <p></p>
                        <div class="picker">
                            <select id="id_gender" name="gender">
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                        </div>
                    </li>
                    <li class="field">
                        <p id = "error">
                            {{form.email.errors}}
                        </p>
                        <label for="id_email">Email:</label>
                        <input class="input" id="id_email" maxlength="75" name="email" type="email" placeholder="Enter your email..." />
                    </li>
                    <li class="field">
                        <p id = "error">
                            {{form.password1.errors}}
                        </p>
                        <label for="id_password1">Password:</label>
                        <input class="input" id="id_password1" maxlength="40" name="password1" type="password"/>
                    </li>
                    <li class="field">
                        <p id = "error">
                            {{form.password2.errors}}
                        </p>
                        <label for="id_password2">Password (again):</label>
                        <input class="input" id="id_password2" maxlength="40" name="password2" type="password" />
                    </li>
                    <div class="medium success btn pull_right">
                        <a href="#">
                            <button type="submit" value="Send Mail">Sign up</button>
                        </a>
                    </div>
                </ul>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}