{% extends "base.html" %}
{% load static %}
{% block title %}AECC | About Us{% endblock %}
{% block subheaderpic %}
	<div class = "parallax" gumby-parallax="0.5" gumby-offset = "60" id = "about_picture">
		<div class = "row" id = "subheader-tittle">
			<div class = "block">
				<span id="page-header">
					<h1>
						Computer Science Students Asociation
					</h1>
				</span>
			</div>
		</div>
	</div>
{% endblock %}
{% block content%}
	<div class = "row">
		<div class="twelve columns">
			<h2 class="text-center">
				A little about the asociation
			</h2>
		</div>
	</div>
{% endblock %}