{% extends "base.html" %}
{% load static %}
{% block title %}AECC | About Us{% endblock %}
{% block subheaderpic %}
	<div class = "parallax" gumby-parallax="0.5" gumby-offset = "60" id = "about_picture">
		<div class = "row" id = "subheader-tittle">
			<div class = "block">
				<span id="page-header">
					<h1>
						Computer Science Students Asociation
					</h1>
				</span>
			</div>
		</div>
	</div>
{% endblock %}
{% block content%}
<br>
	<div class = "row">
		<div class="twelve columns">
			<div class="four columns reduce_margin_left">
				<h3>What is the AECC?</h3>
				<p>
					AECC is a student’s organization from the University of Puerto Rico Bayamón Campus that focuses on developing the skills and knowledge of the students in the Department of Computer Science by providing seminars and presentations that will give them the tools to be a professional.
				</p>
			</div>
			<div class="four columns">
				<h3>What is our goal?</h3>
				<p>
					Our main goal as a student’s association is to form a group in which ideas and experiences can be shared between students, professors and graduated students so that we can learn from each other and expand our knowledge beyond what the University can offer.
				</p>
			</div>
			<div class="four columns">
				<img src="{% static "img/aecc_black_no_background.png" %}">
			</div>
		</div>
	</div>
<br>
{% endblock %}