{% extends "base.html" %}
{% block title %}AECC{% endblock %}
{% block subheaderpic %}
	<div class = "home_picture">
		<div class = "row" id = "subheader-tittle">
			<div id = "block_home">
				<article class = "translucent_border">
					<span id="page-header">
						<h1>
							University of Puerto Rico <br>in Bayamon
						</h1>
						<br>
						<h2 id = "page-header-subtittle">Computer Science Student Asociation</h2>
					</span>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}
	{% include "common/footer.html" %}
{% endblock %}