{% extends "base.html" %}
{% block title %}AECC{% endblock %}
{% block subheaderpic %}
	<div class = "home_picture">
		<div class = "row" id = "subheader-tittle">
			<div id = "block_home">
				<article class = "translucent_border">
					<span id="page-header">
						<h1>
							University of Puerto Rico <br>in Bayamon
						</h1>
						<br>
						<h2 id = "page-header-subtittle">Computer Science Student Asociation</h2>
					</span>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}
	<div class = "row">
		<div class = "centered eight columns">
				<a href="https://www.facebook.com/groups/18948213712/"><i class = "footerIcons icon-facebook"></i></a>
				<a href="#"><i class = "footerIcons icon-twitter"></i></a>
				<a href="https://github.com/orgs/AECC-UPRB/"><i class = "footerIcons icon-github"></i></a>
				<a href="#"><i class = "footerIcons icon-dropbox"></i></a>
		</div>
	</div>
{% endblock %}