Django==1.7.4
Pillow==2.4.0
South==1.0
Werkzeug==0.9.4
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.18
boto==2.32.1
celery==3.1.15
diff-match-patch==20110725.1
dj-database-url==0.3.0
django-allauth==0.16.1
django-appconf==0.6
django-autoslug==1.7.2
django-braces==1.4.0
django-celery==3.1.16
django-configurations==0.8
django-debug-toolbar==1.2.1
django-disqus==0.4.3
django-dotenv==1.2
django-extensions==1.3.7
django-google-analytics==1
django-google-analytics-app==2.0.3
django-ical==1.2
django-import-export==0.2.2
django-multiselectfield==0.1.2
django-storages==1.1.8
django-taggit==0.12
django-tinymce==1.5.2
django-utils==0.0.2
gunicorn==19.0.0
httplib2==0.9
icalendar==3.7
kombu==3.0.23
oauthlib==0.6.1
psycopg2==2.5.2
python-openid==2.2.5
python-placeholder==0.2
pytz==2014.4
requests==2.3.0
requests-oauthlib==0.4.0
six==1.6.1
sqlparse==0.1.11
tablib==0.10.0
wsgiref==0.1.2
