#navbar{
	margin-bottom: 0px;
	background: rgba(0,0,0,0.25);
}

.gumby-no-touch .navbar ul li:hover > a,
.gumby-touch .navbar ul li.active > a,
.navactive{
	background: rgba(154,162,167, 0.6)!important;
}

.footer{
	background: url(../img/unsplash_by_Sebastian_Muller.jpeg);
	background-size: cover;
	height: 200px;
}
#nav1{
	margin-bottom: 0px;
	background: rgba(0,0,0,0);
}
#about_picture{
	background: url(../img/unsplash_by_Alejandro_Escamilla2.jpg) no-repeat;
	background-size: cover; /* para que llene todo el background*/
}
#page-header{
	text-align: center;
}
#page-header h1{
	color: #d04526;
	text-align: center;
	margin-top: 185px;
	font-weight: bolder;
}
#page-header p{
	color: white;
	text-align: center;
	font-weight: bolder;
}
.block{
	height: 300px;
}
.translucent_border{	
	margin: 150px auto;
}
#sign_up_picture{
	background: url(../img/unsplash_join.jpg) no-repeat;
	background-size: cover; /* para que llene todo el background*/
}
#people_picture{
	background: url(../img/Death_to_stock.jpg) no-repeat;
	background-size: cover; /* para que llene todo el background*/
}
#event_picture{
	background: url(../img/unsplash_by_Galymzhan_Abdugalimov.JPG) no-repeat;
	background-size: cover; /* para que llene todo el background*/
}
#single_event_picture{
	background: url(../img/unsplash_by_Alejando_Escamilla1.jpg) no-repeat;
	background-size: cover; /* para que llene todo el background*/
}
#article_banner{
	background: url(../img/unsplash_by_Alejando_Escamilla1.jpg) no-repeat;
	background-size: cover; /* para que llene todo el background*/
}
.translucent_border_people{
	margin: 150px auto;
}
.footerIcons{
	font-size: 35px;
	padding-right: 25px;
	padding-top: 35px;
	text-align: center;
}
.home_picture{
	background: url(../img/unsplash_by_Aleks_Dorohovich.jpg) no-repeat;
	background-size: cover; /* para que llene todo el background*/
}
#page-header-subtittle{
	color: #d04526;
	text-align: center;
	margin-top: 50px;
	font-weight: bolder;
}
#block_home{
	height: 500px;
}
.back-color{
  padding: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}
#contact_picture{
	background: url(../img/unsplash_by_Sebastian_Muller.jpeg) no-repeat;
	background-size: cover; /* para que llene todo el background*/
}
#test{
	margin-left:0px;
}
#member_picture{
	margin-top: 15px;
	height: 75px;
	border: 5px solid #58c026;
}
#promo_picture{
	height:250px;
	width: 100%;
}
li{
	padding-top: 0px;
	padding-bottom: 0px;
}
.people-style{
	margin-bottom: 10px;
	margin-right: 10px;
	border:1px solid;
	border-color:#888888;
	border-radius: 3px;
	text-align: center;
}
.promo-style{
	background: white;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-right: 9px;
	border:1px solid;
	border-color:#888888;
	border-radius: 3px;
	margin-right: 9px;
}
.success-message{
	float: right;
	margin-top: 5%;
}
.footer{
	background: #1D2124;
	width: 100%;
	padding-top: 2.5%;	
}
.icons{
	padding-top: 2%;
}
.aecc-info{
	padding-top: 7%;
	color: white;
}
.center-text {
	text-align: center;
}
.medium-text {
	font-size: 1.2rem;
}
.readmore {
	background-color: #d04526;
}