hr {
	border-top-width: 0;
	border-color: rgba(150, 150, 150, 0.3);
}
.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  background-color: #eeeeee;
}
b {
	font-weight: bold;
}
/* navbar */
#navbar{
	margin-bottom: 0px;
	-webkit-transition: all .25s linear;
	   -moz-transition: all .25s linear;
	    -ms-transition: all .25s linear;
	     -o-transition: all .25s linear;
	        transition: all .25s linear;
}

.navbar-transparent{
	background: rgba(0,0,0,0.25);
}

.navbar-not-transparent {
	background: rgba(0,0,0,0.25)!important;
}
.gumby-no-touch .navbar ul li:hover > a,
.gumby-touch .navbar ul li.active > a,
.navactive{
	background: rgba(154,162,167, 0.6)!important;
}

#nav1{
	margin-bottom: 0px;
	background: rgba(0,0,0,0);
}
/* footer */
.footer{
	background: #1D2124;
	width: 100%;
	padding-top: 2.5%;
	padding-bottom: 3.5%;	
}
.footerIcons{
	font-size: 35px;
	padding-right: 25px;
	padding-top: 35px;
	text-align: center;
}
.footer-social{
	font-size: 35px;
	padding-top: 35px;
}

/* pictures */
#about_picture{
	background: url(../img/unsplash_by_Alejandro_Escamilla2.jpg) no-repeat;
	background-size: cover; /* para que llene todo el background*/
}
#sign_up_picture{
	background: url(../img/unsplash_join.jpg) no-repeat;
	background-size: cover; /* para que llene todo el background*/
}
#people_picture{
	background: url(../img/Death_to_stock.jpg) no-repeat;
	background-size: cover; /* para que llene todo el background*/
}
#event_picture{
	background: url(../img/never_stop_learning.png) no-repeat;
	background-size: cover; /* para que llene todo el background*/
}
#single_event_picture{
	background: url(../img/unsplash_by_Alejando_Escamilla1.jpg) no-repeat;
	background-size: cover; /* para que llene todo el background*/
}
#article_banner{
	background: url(../img/unsplash_by_Alejando_Escamilla1.jpg) no-repeat;
	background-size: cover; /* para que llene todo el background*/
}
.home_picture{
	background: url(../img/unsplash_by_Aleks_Dorohovich.jpg) no-repeat;
	background-size: cover; /* para que llene todo el background*/
	width: 100%;
	height: 100%;
}
#profile_backgroup{
	background: url(../img/unsplash_by_Galymzhan_Abdugalimov.jpg) no-repeat;
	background-size: cover; /* para que llene todo el background*/
}
#contact_picture{
	background: url(../img/unsplash_by_Sebastian_Muller.jpg) no-repeat;
	background-size: cover; /* para que llene todo el background*/
}
#password_reset_done{
	background: url(../img/unsplash_by_Galymzhan_Abdugalimov.jpg) no-repeat;
	background-size: cover; /* para que llene todo el background*/
	width:100%;
	height: 100%;	
}

#page-header{
	text-align: center;
}
#page-header h1{
	color: #d04526;
	margin-top: 18%;
	text-shadow:0px 0px 4px white;
}
#page-header p{
	color: white;
	text-align: center;
}
#initial-page-header > h1{
	text-align: center;
	color: #d04526;
}
#initial-page-header h1{
	margin-top: 18%;
	text-shadow:0px 0px 4px white;
}
#initial-page-header h2{
	text-shadow:0px 0px 4px white;
}

/* profile */
.profile-block{
	height: 375px;
}
.profile-info-display{
	height: 562px;	
}
#profile-page-header{
	text-align: center;	
}
#profile-page-header h1{
	color: #d04526;
	text-align: center;
	text-shadow:0px 0px 4px white;	
	margin-bottom: 4%;
}
#user-profile{
	text-align: center;	
}
#user-profile h1{
	color: #d04526;
	text-align: center;
	text-shadow:0px 0px 4px white;
}
#banner{
	margin-right: 0px;
}
#space{
	margin-top: 10%;
}
#profile-content{
	padding-top: 4%;
}
#user-profile-content{
	padding-top: 2%;
}
.programming_languages_icons{
	color: #d04526;
	font-size: 25px;
	text-shadow:0px 0px 1px white;
}
.courses_display{
	color: #d04526;
	font-style: italic;
	text-shadow:0px 0px 1px white;
}
.icons{
	padding-top: 2%;
}

/* events */
#single_event_promo{
	width: 100%;
<<<<<<< HEAD
	height: 450px;
=======
>>>>>>> origin/devbranch
}
#promo_picture{
	height:250px;
	width: 100%;
}
.promo-style{
	background: white;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-right: 9px;
	border:1px solid;
	border-color:#888888;
	border-radius: 3px;
	margin-right: 9px;
}
.event-tile{
	margin-left: 7%;
	margin-bottom: 5%;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius:2px;
}
.event-information{
	margin-left: 1.5%;
	margin-right: 1.5%;
}
#month-display{
	margin-left: 0px;
}
.promo-pic{
	height: 250px;
	width:100%;
}
.no-left-margin{
	margin-left: 0px;
}

.block{
	height: 300px;
}
.translucent_border{	
	margin: 150px auto;
}
#page-header-subtittle{
	color: #d04526;
	text-align: center;
	margin-top: 1%;
}
#block_home{
	height: 500px;
}
.back-color{
  padding: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

li{
	padding-top: 0px;
	padding-bottom: 0px;
}
.aecc-info{
	padding-top: 2%;
}
.aecc-info > h6{
	padding-top: 7%;
	color: white;
}
.center-text {
	text-align: center;
}
.medium-text {
	font-size: 1.2rem;
}
.readmore {
	background-color: #d04526;
}

/* people */
.people-tile{
	margin-left: 0px;
	margin-bottom: 5%;
	padding-bottom: 3%;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	-webkit-border-radius:4px;
}
.people-tile img{
	margin-top: 10%;
	margin-left: 14%;
}
.people-tile p{
	text-align: center;
}
.person-information{
	color:#444444;
}
.people-style{
	margin-bottom: 10px;
	margin-right: 10px;
	border:1px solid;
	border-color:#888888;
	border-radius: 3px;
	text-align: center;
}

/* sideup */
.wrapper {
	position: relative;
	overflow: hidden;
	margin-left: 5% !important;
	width:100%;
	height: 100%;
    overflow: hidden;
    width: 100%;
    height: 100%; 
    height: 100%;
}
.wrapper:hover #slide {
    transition: 1s;
    bottom: 0;
    background-color: #d04526; 
}
.wrapper p{
	color:white;
}
#slide {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    transition: 1s;
    margin-bottom: 0px;
    padding:5px;
}
#slide a {
	color:white;
}
#slide span{
	font-weight: bolder;
}
.label.default {
	background: #d04526;
	border: 1px solid #d04526;
	color: white;
}
.text-muted {
	color: #999;
}
/*#sidebar{
	padding-top: 5%;
}
#push_off_navbar{
	padding-top: 17%;
}*/

/* gumby modifications */
.skiplink{
	margin:0px;
	text-align: left;
	color: #d04526;
	background: transparent;
}
.skiplink a{
	color: #d04526;
}
.skiplink :hover{
	background: #d04526;
	color: white;
	border-left: white
}

/* hackathon */
.hackathon-block{
	height: 450px;
}
.hackathon-center{	
	margin: 25% auto;
}
#hackathon-header{
	text-align: center
}
#hackathon-header h1{
	color: #d04526;
	margin-top: 18%;
	text-shadow:0px 0px 4px white;
}
#hackathon-header h2, h3{
	color: #d04526 !important;
	text-shadow:0px 0px 4px white;
}

/* blog */
.section_banner{
	height: 200px;
}

.section{
	z-index: 100;
}
.section > h4 , .section > p{
	color:white;
	position:relative;
	bottom: 170px;
	text-align: center !important;
}
.section hr{
	position:relative;
	bottom: 175px;
	border-color:white;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 60%;
	margin-left: 20%;
}
.go_up{
	margin-top: -10%;
}
.assisted{
	margin-left: 1% !important;
}

.errorlist{
	padding:15px;
	border-radius: 4px;
	background-color: #df8989;
	border:1px solid #ca3838;
	color:#7b2121;
}
.upcoming-events {
	margin-top: 20px;
	margin-bottom: 30px;
}
.event-wrap {
	padding: 5px;
}
.event-details > li {
	display: inline;
}
.event-image {
	margin: 15px;
	border-radius: 3px;
	max-height: 400px;
}
.tag:hover {
	text-decoration: underline;
}
.no_margin_left{
	margin-left: 0;
}
#active{
	background:#1D2124;
}
#active a{
	color:white;
}

/* xs */
@media (min-width: 0px) and (max-width: 767px) {
    #page-header h1{
    	font-size: 35px;
    }
    #page-header-subtittle{
    	font-size: 25px;
    }
    .people-tile img{
    	margin-top: 10%;
    	margin-left: 25%;
    }
    #page-header h1{
    	margin-top: 44%;
    }
    #intial-page-header h1{
		margin-top: 30%;
    }
    .section_banner{
		height: 235px;
		width: 255px !important;
	}
	.section > h4{
		bottom:200px;
	}
	.section > hr{
		bottom:205px;
	}
	.section > p{
		bottom:205px;
	}
	.event-tile{
		margin-left: 2%;
	}
	#initial-page-header h1{
		margin-top: 50%;
	}
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* lg */
@media (min-width: 1200px) {
}