{% extends "base.html" %}
{% block subheaderpic %}
		<div class = "parallax" gumby-parallax="0.5" gumby-offset = "60" id = "event_picture">
		<div class = "row" id = "subheader-tittle">
			<div class = "block">
				<article class = "translucent_border">
					<span id="page-header">
						<h1>
							{{survey.title}}
						</h1>
					</span>
				</article>
			</div>
		</div>
	</div>
{% endblock subheaderpic %}
{% block content %}
<br>
	<div class="row">
		<div class="twelve columns">
			<div class=" centered eight columns">
				{% if error_message %}
					{{error_message}}
				{% endif %}
				{% if not request.user in survey.sent_by.all %}
					<form action="{% url 'surveys:survey' survey.slug %}" method="POST" role="form">
					{% csrf_token %}
						{% for questions in survey_questions %}
							<label class="inline" for="">{{questions.question}}</label>
							{% for choices in survey_choices %}
								{% if choices.poll.id == questions.id %}
									<label for="choice{{questions.id}}">
										<input class="input" name="choice{{questions.id}}" value="{{choices.id}}" type="radio">
										{{choices.choice_text|capfirst}}
									</label>
								{% endif %}
							{% endfor %}
						{% endfor %}
						<div class="medium success btn pull_right">
							<input type="submit" value="Try Me">
						</div>
					</form>
				{% endif %}
			</div>
		</div>
	</div>
<br>
{% endblock content %}