{% extends "base.html" %}
{% load disqus_tags %}
{% load gravatar %}

{% block title %}{{article.title}}{% endblock title %}
{% block subheaderpic %}
	<div class = "parallax midscreen-img" gumby-parallax="0.5" gumby-offset = "60" id = "article_banner">
		<div class = "row" id = "subheader-tittle">
			<div class = "block">
				<article class = "translucent_border">
					<div id="page-header">	
						<h1>{{article.title}}</h1>
						<p>
							By: {{article.created_by.first_name|capfirst}} {{article.created_by.last_name|capfirst}} Publish date: {{article.created_at.date}}
						</p>
						<div>
							<center><li class="default label" id="label">{{article.branch}}</li></center>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}
	<br/>
	<div class="row">
		<div class="centered eight columns">
			{{article.content|safe}}	
		</div>
		{% disqus_show_comments %}
	</div>
{% endblock %}