{% extends "base.html" %}
{% load staticfiles %}
{% block title %}AECC | Blog{% endblock %}
{% block subheaderpic %}
    <div class = "parallax" gumby-parallax="0.5" gumby-offset = "60" id = "people_picture">
        <div class = "row" id = "subheader-tittle">
            <div class = "block">
                <article>
                    <span id="page-header">
                        <h1>
                            Stories
                        </h1>
                    </span>
                </article>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
      <div class="centered ten columns">
        <h1>Recent Stories</h1>        
        {% for a in object_list %}
            <h2>{{ a.title|lower|capfirst }}</h2>
            <p>{{ a.created_by|lower|capfirst }} | {{ a.created_at }}</p>
            <p class="medium-text">{{ a.content|safe|truncatewords:50 }}</p>
            <div class="medium readmore btn pull_right">
                <a href="{% url 'blog:article' a.branch_slug a.article_slug %}">Read more</a>
            </div>       
            <br><br>
        {% endfor %}
        <hr>
      </div>
    </div>
    <br>
    <div class="row">
        <div class="ten columns push_one">
            <div class="twelve columns">
                <div class="four columns wrapper">
                    <a href="/blog/directive">
                        <img class="section_banner"src="{% static 'img/science.png' %}" width="100%"/>
                        <p id="slide">
                            <span class="center-text">Progress Reports</span><br/>
                            tarara tada! <br/>
                            Another try!! <br/>
                            dhuirwhjfudj <br/>
                            ehfidj<br>
                            deokdcko<br/>
                        </p>
                    </a>
                </div>
                <div class="four columns wrapper">
                    <a href="/blog/devteam">
                        <img class="section_banner" src="{% static 'img/design-tools.jpg' %}" width="100%"/>
                        <p id="slide">
                            <span>HackNights</span><br/>
                            tarara tada! <br/>
                            Another try!! <br/>
                            dhuirwhjfudj <br/>
                            ehfidj<br>
                            deokdcko<br/>
                        </p>
                    </a>
                </div>
                <div class="four columns wrapper">
                    <a href="/blog/starting_up">
                        <img class="section_banner" src="{% static 'img/shattered-island.gif' %}" width="100%"/>
                        <p id="slide">
                            <span>Workshops</span><br/>
                            tarara tada! <br/>
                            Another try!! <br/>
                            dhuirwhjfudj <br/>
                            ehfidj<br>
                            deokdcko<br/>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}
