{% extends "base.html" %}
{% load staticfiles %}
{% block title %}AECC | Blog{% endblock %}
{% block subheaderpic %}
    <div class = "parallax" gumby-parallax="0.5" gumby-offset = "60" id = "people_picture">
        <div class = "row" id = "subheader-tittle">
            <div class = "block">
                <article>
                    <span id="page-header">
                        <h1>
                            Stories
                        </h1>
                    </span>
                </article>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <br>
    <div class="row">
        <div class="ten columns push_one">
            <div class="twelve columns">
                <div class="three columns push_one wrapper center-text">
                    <a href="/blog/directive">
                        <img class="section_banner image circle" src="{% static 'img/shattered-island.gif' %}" width="100%"/>
                        <span class="section">
                            <h4>Directive</h4>
                            <hr>
                            <p>{{directive_count}}</p>
                        </span>
                    </a>
                </div>
                <div class="three columns push_one wrapper center-text">
                    <a href="/blog/devteam">
                        <img class="section_banner image circle" src="{% static 'img/shattered-island.gif' %}" width="100%"/>
                        <span class="section">
                            <h4>HackNights</h4>
                            <hr>
                            <p>{{hacknights_count}}</p>
                        </span>
                    </a>
                </div>
                <div class="three columns push_one wrapper center-text">
                    <a href="/blog/starting_up">
                        <img class="section_banner image circle" src="{% static 'img/shattered-island.gif' %}" width="100%"/>
                        <span class="section">
                            <h4>Internships</h4>
                            <hr>
                            <p>{{internship_count}}</p>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="centered ten columns go_up">
        <h1>Recent Stories</h1>        
        {% for a in object_list %}
            <h2>{{ a.title|lower|capfirst }}</h2>
            <p>{{ a.created_by|lower|capfirst }} | {{ a.created_at }}</p>
            <p class="medium-text">{{ a.content|safe|truncatewords:50 }}</p>
            <div class="medium readmore btn pull_right">
                <a href="{% url 'blog:article' a.branch_slug a.article_slug %}">Read more</a>
            </div>       
            <br><br>
        {% endfor %}
        <hr>
      </div>
    </div>
    <br>
{% endblock %}
