{% load staticfiles %}
<nav id="navbar" class="navbar" gumby-fixed="top">
        <div class="row" id="nav1">
            <a class="toggle" gumby-trigger="#nav1 > ul" href="#"><i class="icon-menu"></i></a>
            <h1 class="four columns logo">
                <a href="/">
                    <img src="{% static 'img/uprbaecc.png' %}" gumby-retina />
                </a>
            </h1>
            <ul class="eight columns pull_right">
                <li><a href="{% url 'about' %}">About</a>
                </li>
                <li>
                    <a href="{% url 'blog:index' %}">Blog</a>
                </li>
                <li>
                    <a href="{% url 'users:directive' %}">Directive</a>
                </li>
                <li><a href="{% url 'events:index' %}">Events</a>
                    <div class="dropdown">
                        <ul>
                            <li><a href="{% url 'events:month' 'january' %}">January</a>
                            </li>
                            <li><a href="{% url 'events:month' 'february' %}">February</a>
                            </li>
                            <li><a href="{% url 'events:month' 'march' %}">March</a>
                            </li>
                            <li><a href="{% url 'events:month' 'april' %}">April</a>
                            </li>
                            <li><a href="{% url 'events:month' 'may' %}">May</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a href="{% url 'contact:index' %}">Contact Us</a>
                    <li>
                        <div class="medium success btn"><a href="{% url 'account_signup' %}">Sign Up</a>
                        </div>
                    </li>
            </ul>
        </div>
    </nav>