{% extends "base.html" %}
{% block tittle %}AECC | Events{% endblock %}
{% block subheaderpic %}
	<div class = "parallax" gumby-parallax="0.5" gumby-offset = "60" id = "event_picture">
		<div class = "row" id = "subheader-tittle">
			<div class = "block">
				<article class = "translucent_border">
					<h1 id = "page-header">
						Events
					</h1>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}
	<div class = "row back-color">
		<div class =  "twelve columns">
			{% for months_for_display in months %}
			<h1>{{months_for_display|lower|capfirst}}</h1>
			{% for e_information in events_information %}
				{% if e_information.month|upper == months_for_display %}
					<h2><a href="/events/get/{{e_information.slug}}">{{e_information.tittle}}</a></h2>
					<p>Location: {{e_information.location}}</p>	
					<p>Date: {{e_information.event_date}}</p>
					<img src = "/static/assets/{{e_information.promo_picture}}" width = "100%">		
				{% else %}
				{% endif %}
			{% endfor %}
			{% endfor %}
		</div>
	</div>
{% endblock %}