{% extends "base.html" %}
{% block tittle %}Events | {{month_specified|capfirst}}{% endblock %}
{% block subheaderpic %}
	<div class = "parallax" gumby-parallax="0.5" gumby-offset = "60" id = "event_picture">
		<div class = "row" id = "subheader-tittle">
			<div class = "block">
				<article class = "translucent_border">
					<h1 id = "page-header">
						Events for {{month_specified|capfirst}}
					</h1>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}
	{% for events_for_month in events%}
		{% if events_for_month.month|upper == month_specified|upper %}
			<div class = "row back-color">
				<div class = "twelve columns">
					<h2><a href="/events/get/{{events_for_month.slug}}">{{events_for_month.tittle}}</a></h2>
					<p>Location: {{events_for_month.location}}</p>
					<p>Date & Hour: {{events_for_month.event_date}}</p>
					<img src = "/static/assets/{{events_for_month.promo_picture}}" width = "100%">
				</div>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}