{% extends "base.html" %}
{% load static %}
{% block tittle %}AECC | About Us{% endblock %}
{% block subheaderpic %}
	<div class = "parallax" gumby-parallax="0.5" gumby-offset = "60" id = "about_picture">
		<div class = "row" id = "subheader-tittle">
			<div class = "block">
				<article class = "translucent_border">
					<h1 id = "page-header">
						Student Asociation of Computer Science
					</h1>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
{% block content%}
	<div class = "row">
		<div class = "seven columns">
			<h2>
				Header will go here...
			</h2>
			<article>
				Write here...
			</article>
		</div>
		<div class = "push_one four columns">
			<h2>
				Add info here...
			</h2>
			<article>
				Explain here...
			</article>
		</div>
	</div>
	<div class = "row">
		<div class = "four columns">
			<h3>
				Text here...
			</h3>
			<article>
				Write here...
			</article>
		</div>
		<div class = "four columns">
			<h3>
				Text here...
			</h3>
			<article>
				Write here...
			</article>
		</div>
		<div class = "four columns">
			<h3>
				Text here...
			</h3>
			<article>
				Write here...
			</article>
		</div>
	</div>
{% endblock %}