{% load static %}
<!DOCTYPE html>
<html lang = "en"> 
<head>
	{% block scriptcss %}
		<meta charset = "utf-8">
		<meta name = "viewport" content = "width-divice-width, initial-scale = 1.0">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link type = "text/css" rel = "stylesheet" href = "{% static "assets/css/bootstrap.css" %}">
		<link type = "text/css" rel = "stylesheet" href = "{% static "assets/css/gumby.css" %}">
		<link type = "text/css" rel = "stylesheet" href = "{% static "assets/css/style.css" %}">
		<script src="{% static "assets/js/modernizr-2.6.2.min.js" %}"></script>
		{% endblock %}
		<title>{% block tittle %}{% endblock %}</title>
</head>
<body>
	{% block navbar %}
	<nav id = "navbar" class = "navbar" gumby-fixed = "top">
		<div class="row" id="nav1">
		  <!-- Toggle for mobile navigation, targeting the <ul> -->
		  <a class="toggle" gumby-trigger="#nav1 > ul" href="#"><i class="icon-menu"></i></a>
		  <h1 class="four columns logo">
		    <a href="/home/">
		      <img src="{% static "assets/img/uprbaecc.png" %}" gumby-retina />
		    </a>
		  </h1>
		  <ul class="eight columns pull_right">
		    <li><a href="/about/">About</a></li>
		    <li>
		      <a href="/people/">People</a>
		    </li>
		    <li><a href="/events/">Events</a>
			    <div class="dropdown">
			        <ul>
			          <li><a href="/events/january/">January</a></li>
			          <li><a href="/events/february/">February</a></li>
			          <li><a href="/events/march/">March</a></li>
			          <li><a href="/events/april/">April</a></li>
			          <li><a href="/events/may/">May</a></li>
			        </ul>
		      	</div>
	      	</li>
		    <li><a href="/contact/">Contact Us</a>
		    <li><div class="medium success btn"><a href="#">Login</a></div></li>
		  </ul>
		</div>
	</nav>
	{% endblock %}
	{% block subheaderpic %}{% endblock %}
	{% block content %}{% endblock %}
	{% block footer %}
		<div class = "footer parallax"></div>
		<div class = "row">
			<div class = "centered eight columns">
				<a href="#"><i class = "footerIcons icon-facebook"></i></a>
				<a href="#"><i class = "footerIcons icon-twitter"></i></a>
				<a href="https://github.com/orgs/AECC-UPRB/"><i class = "footerIcons icon-github"></i></a>
				<a href="#"><i class = "footerIcons icon-dropbox"></i></a>
			</div>
		</div>
	{% endblock %}
	{% block script %}
		<script>
			var oldieCheck = Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));
			if(!oldieCheck) {
			document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"><\/script>');
			} else {
			document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"><\/script>');
			}
			</script>
			<script>
			if(!window.jQuery) {
			if(!oldieCheck) {
			  document.write('<script  src = "{% static "assets/js/jquery-2.0.2.min.js" %}"><\/script>');
			} else {
			  document.write('<script  src = "{% static "assets/js/jquery-1.10.1.min.js.js" %}"><\/script>');
			}
			}
		</script>
		<script src= "{% static "assets/js/gumby.min.js" %}"></script>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src = "{% static "assets/js/main.js" %}"></script>
		<script src = "{% static "assets/js/plugins.js" %}"></script>
		{% endblock %}
</body>
</html>