{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale = 1.0">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/gumby/2.6.0/css/gumby.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/icons-font-mfizz-1.2/font-mfizz.css' %}">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>

    <meta property="og:type" content="article"/>
    <meta property="og:image" content="{% static "img/aecc-uprb.jpg" %}"/>
    <meta property="og:url" content="{{request.path}}">

    {% block open_meta_graph_tags %}
        <meta property="og:title" content="AECC-UPRB"/>
        <meta property="og:site_name" content="University of Puerto Rico Bayamón Campus Computer Science Student Association"/>
    {% endblock open_meta_graph_tags %}
</head>

<body>
    {% block navbar %}
    	{% include "common/navbar.html" %}
    {% endblock %}
    {% block subheaderpic %}{% endblock %} 
    {% block sidebar %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
   		{% include "common/footer.html" %}
    {% endblock %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gumby/2.6.0/js/libs/modernizr-2.6.2.min.js"></script>
	<script>
    var oldieCheck = Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));
    if (!oldieCheck) {
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"><\/script>');
    } else {
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"><\/script>');
    }
    </script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gumby/2.6.0/js/libs/gumby.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-placeholder/2.0.7/jquery.placeholder.min.js"></script>
    <script src="{% static 'js/gumby.parallax.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>
