{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale = 1.0">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/gumby.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/icons-font-mfizz-1.2/font-mfizz.css' %}">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block navbar %}
    	{% include "common/navbar.html" %}
    {% endblock %}
    {% block subheaderpic %}{% endblock %} 
    {% block sidebar %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
   		{% include "common/footer.html" %}
    {% endblock %}
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<script>
    var oldieCheck = Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));
    if (!oldieCheck) {
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"><\/script>');
    } else {
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"><\/script>');
    }
    </script>
    <script>
    if (!window.jQuery) {
        if (!oldieCheck) {
            document.write('<script  src = "{% static "js/jquery-2.0.2.min.js" %}"><\/script>');
        } else {
            document.write('<script  src = "{% static "js/jquery-1.10.1.min.js/" %}"><\/script>');
        }
    }
    </script>
    <script src="{% static 'js/gumby.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script>
        $(document).ready(function(){
            var t = $('#navbar').offset().top + 20;

            $(document).scroll(function(){
                if($(this).scrollTop() > t)
                {   
                    $('#navbar').addClass('navbar-not-transparent');
                }else if($(this).scrollTop() < t){
                    $('#navbar').removeClass('navbar-not-transparent');
                }
            });
        });
    </script>
    {% block extra_js %}{% endblock %}
</body>

</html>
