{% extends "base.html" %}
{% load gravatar %}
{% block title %}AECC | Community{% endblock %}
{% block subheaderpic %}
	<div class = "parallax" gumby-parallax="0.5" gumby-offset="60" id="single_event_picture">
		<div class = "row" id = "subheader-tittle">
			<div class = "block">
				<article>
					<span id="page-header">
						<h1>
							Community
						</h1>
					</span>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}
<br>
<div class = "row">
	<div class="twelve columns">	
	<div class="push_one">
	{% for people_information in directive %}
		<div class="three columns wrapper people-tile">
      		<img class="image circle" src="{{people_information|gravatar_url:people_information.email}}s=145"  width="145" />
      		<div class="text-center">
		        <h6>{{people_information.first_name}} {{people_information.last_name}}</h6>
      		</div>
      		<p id="slide">
        		<span class="ten columns">
        			<span class="push_three">
	        			<a href="#">
		        			<i class="footer-social icon-user"></i>
		        		</a>
        			</span>
        		</span>
        		<span class="push_two three columns">
	        		{% if people_information.facebook %}
	        			<a href="{{people_information.facebook}}">
	        				<i class="footer-social icon-facebook"></i>
	        			</a>
	        		{% endif %}
        		</span>
        		<span class="push_two three columns">
	        		{% if people_information.twitter %}
	        			<a href="{{people_information.twitter}}">
	        				<i class="footer-social icon-twitter"></i>
	        			</a>
	        		{% endif %}
        		</span>
        		<span class="push_two three columns">
	        		{% if people_information.github %}
	        			<a href="{{people_information.github}}">
	        				<i class="footer-social icon-github"></i>
	        			</a>
	        		{% endif %}
        		</span>
        		<span class="push_two three columns">
	        		{% if people_information.linkedin %}
	        			<a href="{{people_information.linkedin}}">
	        				<i class="footer-social icon-linkedin"></i>
	        			</a>
	        		{% endif %}
        		</span>
        	</p>
	    </div>
		<div class="one columns"></div>
	{% endfor %}
	</div>
	</div>
</div>
<br>
{% endblock %}