{% extends "base.html" %}
{% load gravatar %}
{% block title %}AECC | People{% endblock %}
{% block subheaderpic %}
	<div class = "parallax" gumby-parallax="0.5" gumby-offset="60" id="single_event_picture">
		<div class = "row" id = "subheader-tittle">
			<div class = "block">
				<article>
					<span id="page-header">
						<h1>
							Association directors
						</h1>
					</span>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}
<br>
<div class = "row">
	<div class="twelve columns">	
	<div class="push_one">
	{% for people_information in directive %}
		<div class="three columns people-tile">	
	      	<img src="{{people_information|gravatar_url:people_information.email}}s=240"  width="145" />
	        <h5>{{people_information.first_name}} {{people_information.last_name}}</h5>
	        <p>{{people_information.email}}</p>
		</div>
		<div class="one columns"></div>
	{% endfor %}
	</div>
	</div>
</div>
<br>
{% endblock %}