{% extends "base.html" %}
{% block tittle %}AECC | People{% endblock %}
{% block subheaderpic %}
	<div class = "parallax" gumby-parallax="0.5" gumby-offset = "60" id = "people_picture">
		<div class = "row" id = "subheader-tittle">
			<div class = "block">
				<article class = "translucent_border_people">
					<h1 id = "page-header">
						Association directors
					</h1>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}
<br>
	{% for directive in people_information %}
			<div class = "row">
  				<section class="twelve columns back-color">
   		 			<article class="valign row">
				      <div width="145">
				      	<img src="/static/assets/{{directive.picture}}"  width="145" />
				      </div>
				      <div class = "push_two">
				        <h4>{{directive.first_name}} {{directive.last_name}}</h4>
				        <p>Face tattoos are not.</p>
				      </div>
				    </article>
				</section>
			</div>
			<hr>
	{% endfor %}
{% endblock %}