{% extends "base.html" %}
{% block title %}Events | {{month|capfirst}}{% endblock %}
{% block subheaderpic %}
	<div class = "parallax" gumby-parallax="0.5" gumby-offset = "60" id = "event_picture">
		<div class = "row" id = "subheader-tittle">
			<div class = "block">
				<article class = "translucent_border">
					<span id="page-header">
						<h1>
							Events for {{month|capfirst}}
						</h1>
					</span>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}
	{% for events_for_month in events %}
		<div class = "row">
			<div class = "twelve columns">
				<h2><a href="/events/{{events_for_month.month_slug}}/{{events_for_month.title_slug}}">{{events_for_month.title}}</a></h2>
				<p>Location: {{events_for_month.location}}</p>
				<p>Date: {{events_for_month.event_date.date}}</p>
				<p>Hour: {{events_for_month.event_date.hour}}</p>
				<img src="/static/assets/{{events_for_month.promo_picture}}" width = "100%">
			</div>
		</div>
	{% endfor %}
{% endblock %}