{% extends "base.html" %}
{% load disqus_tags %}
{% load gravatar %}
{% block title %}AECC | {{event.title}}{% endblock %}
{% block subheaderpic %}
	<div class = "parallax" gumby-parallax="0.5" gumby-offset = "60" id = "event_picture">
		<div class = "row" id = "subheader-tittle">
			<div class = "block">
				<article class = "translucent_border">
					<span id="page-header">
						<h1>
							{{event.title}}
						</h1>
					</span>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}
	<div class = "row back-color">
		<div class = "twelve columns">
			<div class="centered ten columns">
				<section>
					<!-- Event information -->
					<p>Location: {{event.location}}</p>
					<p>Date & Hour: {{event.event_date}}</p>
					<div class="medium success btn"><a href="/events/ical">Add to Calendar</a></div>
					{% if is_current_date and not has_checked_in%}
						<div class="medium success btn">
							<a href="{% url 'events:check_in' event.title_slug event.month_slug %}">Check in</a>
						</div>
					{% endif %}
					<br>
					<img src="/media/{{event.promo_picture}}" id="single_event_promo">
					<h3>What will be covered?</h3>
					<p>{{event.event_description}}</p>
				</section>

				<section>
					<div class="twelve columns">
						<h3>Who joined us?</h3>
						<!-- Who joined us? -->
						{% if event.checked_in %}
							{% for people_present in event.checked_in.all %}
								<div class="three columns assisted">
									<img class="image circle" src="{{people_information|gravatar_url:people_present.email}}s=145"  width="145" />
								</div>		
							{% endfor %}
						{% endif %}
					</div>
				</section>
				
				<section>
					{% disqus_show_comments %}
				</section>
			</div>
		</div>
	</div>
{% endblock %}