{% extends "base.html" %}
{% load disqus_tags %}
{% block title %}AECC | {{event.title}}{% endblock %}
{% block subheaderpic %}
	<div class = "parallax" gumby-parallax="0.5" gumby-offset = "60" id = "event_picture">
		<div class = "row" id = "subheader-tittle">
			<div class = "block">
				<article class = "translucent_border">
					<span id="page-header">
						<h1>
							{{event.title}}
						</h1>
					</span>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}
	<div class = "row back-color">
		<div class = "twelve columns">
			<p>Location: {{event.location}}</p>
			<p>Date & Hour: {{event.event_date}}</p>
			<div class="medium success btn"><a href="/events/ical">Add to Calendar</a></div>
			<br>
			<img src="/media/{{event.promo_picture}}" id="single_event_promo">		
			<h3>What will be covered?</h3>
			<p>{{event.event_description}}</p>
			{% disqus_show_comments %}
		</div>
	</div>
{% endblock %}