{% extends "base.html" %}
{% block title %}Events | {{month|capfirst}}{% endblock %}
{% block subheaderpic %}
	<div class = "parallax" gumby-parallax="0.5" gumby-offset = "60" id = "event_picture">
		<div class = "row" id = "subheader-tittle">
			<div class = "block">
				<article class = "translucent_border">
					<span id="page-header">
						<h1>
							Events for {{month|capfirst}}
						</h1>
					</span>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}
<br>
	<div class="row">
		<div class="twelve columns">
		<div class="push_two"></div>	
		{% for events_for_month in events %}		
			<div class="five columns event-tile">
				<img src="/media/{{events_for_month.promo_picture}}" id="promo-pic">
				<div class="event-information">	
					<h4><a href="/events/{{events_for_month.month}}/{{events_for_month.title_slug}}">{{events_for_month.title| truncatechars:'30'}}</a></h4>
					<p class="text-muted">{{events_for_month.location}} | {{events_for_month.event_date}}</p>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
<br>
{% endblock %}