{% extends "base.html" %}
{% load gravatar %}

{% block open_meta_graph_tags %}
    <meta property="og:title" content="AECC-UPRB | {{event.title}}"/>
    <meta property="og:site_name" content="{{event.description}}"/>
{% endblock open_meta_graph_tags %}

{% block title %}AECC | {{event.title}}{% endblock %}
{% block subheaderpic %}
	<div class = "parallax" gumby-parallax="0.5" gumby-offset = "60" id = "event_picture">
		<div class = "row" id = "subheader-tittle">
			<div class = "block">
				<article class = "translucent_border">
					<span id="page-header">
						<h1>
							{{event.title|title}}
						</h1>
					</span>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}
	<div class = "row back-color">
		<div class = "twelve columns">
			<div class="centered ten columns">
				<section>
					<!-- Event information -->
					<ul>
						<li>
							<b>When? </b> {{event.event_date}} |
							<b>Where? </b> {{event.location|title}} |
							<b>Tags: </b> 
							{% for tag in event.tags.all %}
								<a href="#" class="tag">#{{tag}}</a> 
							{% endfor %}
						</li>
					</ul>
					
					<div>
						<div class="medium success btn"><a href="/events/ical">Add to Calendar</a></div>
						<span class="pull_right">
							<div class="fb-share-button" data-href="{{request.path}}" data-type="button"></div>
						</span>
					</div>

					<img src="{{event.promo_picture.url}}" id="single_event_promo">
				</section>

				<section>
					<span class="pull_right">
						<a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
					</span>
				</section>

				<section>
					<div class="twelve columns">
						<div>
							<h3>What will be covered?</h3>
							<p>{{event.description}}</p>
						</div>
						<div>
							<h3>Who joined us?</h3>
							<!-- Who joined us? -->
							{% if event.checked_in %}
								{% for people_present in pagination_dictionary.people_checked_in %}
								{{people_checked_in}}
									<div class="three columns assisted">
										<center>
											<img class="image circle center-image" src="{{people_present|gravatar_url:people_present.email}}"  width="145" />
										</center>
										<p class="center-text">
											{{people_present.first_name|title}} {{people_present.last_name|title}}
										</p>
									</div>		
								{% endfor %}
							{% endif %}
						</div>
					</div>
					<div class="twelve columns">
						<div class="pull_left">
							<span>
							    <span class="step-links">
							        {% if pagination_dictionary.page_obj.has_previous %}
							        	<div class="small btn default">
							            	<a href="?page={{ pagination_dictionary.page_obj.previous_page_number }}">
							            		Previous
							            	</a>
							        	</div>
							        {% endif %}

									<span>
										{% for page in pagination_dictionary.pagination.page_range %}
					                    	<span class="small btn default" id="{% if page == pagination_dictionary.page_obj.number %}active{% endif %}">
					                    		<a href="?page={{page}}">{{page}}</a>
					                    	</span>
					                    {% endfor %}
									</span>

							        {% if pagination_dictionary.page_obj.has_next %}
							            <div class="small btn default">
		                    				<a href="?page={{ pagination_dictionary.page_obj.next_page_number }}">Next</a>
		                				</div>
							        {% endif %}
							    </span>
							</span>
						</div>
						<div class="pull_right">
							{% if user.is_authenticated and is_current_date and not has_checked_in %}
								<span>
									<form action="/events/{{event.month}}/{{event.title_slug}}/check_in" method="POST">
										{% csrf_token %}
										<div class="medium success btn">
											<input type="submit" value="Check in">
										</div>
									</form>
								</span>
							{% endif %}
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
{% endblock %}
{% block extra_js %}
	<!-- Facebook Share -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<!-- Twitter Share -->
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
	</script>
{% endblock extra_js %}