{% extends "base.html" %}
{% block title %} AECC | Hackathon{% endblock title %}
{% block subheaderpic %}
	<div class = "parallax midscreen-img" gumby-parallax="0.5" gumby-offset = "60" id = "event_picture">
		<div class="row" id = "subheader-tittle">
			<div class="hackathon-block">
				<article class="hackathon-center">
					<span id="hackathon-header">
						<h1>hackBayamón</h1>
						<h2>October 25, 2014</h2>
						<h3>University of Puerto Rico - Bayamón Campus</h3>
					</span>
				</article>
			</div>
		</div>
	</div>
{% endblock subheaderpic %}
{% block content %}
	<section>
		<div class="row">
			<div class="twelve columns">
				<div class="three columns">
					<nav id="sidebar" gumby-fixed="450">
						<ul>
							<li class="twelve columns skiplink medium">
								<a href="#about" gumby-goto="[data-target='about']">
									<blockquote>About</blockquote>
								</a>
							</li>
							<li class="twelve columns skiplink medium">
								<a href="#sponsors" gumby-goto="[data-target='sponsors']">
									<blockquote>Sponsors</blockquote>
								</a>
							</li>
							<li class="twelve columns skiplink medium">
								<a href="#test" gumby-goto="[data-target='test']">
									<blockquote>Test</blockquote>
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="push_one eight columns">
					<div id="test" data-target="test">
						<h2>TEST</h2>
					</div>
					<section>
						<div id="push_off_navbar" data-target="about">
							<h2>
								About
							</h2>
						</div>
					</section>
					<section>
						<div id="push_off_navbar" data-target="sponsors">
							<h2>
								Sponsors
							</h2>
							<div class="twelve columns">
								{% for sponsor in hackathon_sponsors %}
								<div class="five columns push_one">
									<a href="{{sponsor.website}}">
										<img class="image circle" src="/{{sponsor.picture}}" />
										
									</a>
								</div>
								{% endfor %}
							</div>
						</div>
					</section>

				</div>
			</div>
		</div>
	</section>
{% endblock %}
