{% extends "base.html" %}
{% load static %}
{% block title %}AECC | Events{% endblock %}
{% block subheaderpic %}
	<div class = "parallax" gumby-parallax="0.5" gumby-offset = "60" id = "event_picture">
		<div class = "row" id = "subheader-tittle">
			<div class = "block">
				<article>
					<span id="page-header">
						<h1>
							Events
						</h1>
					</span>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}
<br>
	<div class="row">
		<div class="twelve columns">
			<div class="eight columns">
				<div class="big_banner">
					<img src="{% static "img/unsplash_join.jpg" %}" class="big_image_display">
					<h1 class="big_month_display">{% now "F" %}</h1>
				</div>
			</div>
			<div class="four columns pull_right">
				<div class="twelve columns no_margin_left">
					<div class="smaller_banner">
						<img src="{% static "img/unsplash_join.jpg" %}" class="smaller_image_display">
						<p class="small_month_display">September</p>
					</div>
				</div>
				<br>
				<div class="twelve columns no_margin_left">
					<div class="smaller_banner">
						<img src="{% static "img/unsplash_join.jpg" %}" class="smaller_image_display">
						<p class="small_month_display">October</p>
					</div>
				</div>
				<br>
				<div class="twelve columns no_margin_left">
					<div class="smaller_banner">
						<img src="{% static "img/unsplash_join.jpg" %}" class="smaller_image_display">
						<p class="small_month_display">November</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
{% endblock %}