{% extends "base.html" %}
{% load static %}
{% block title %}AECC | Events{% endblock %}
{% block subheaderpic %}
	<div class = "parallax" gumby-parallax="0.5" gumby-offset = "60" id = "event_picture">
		<div class = "row" id = "subheader-tittle">
			<div class = "block">
				<article>
					<span id="page-header">
						<h1>
							Events
						</h1>
					</span>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}
<br>
	<div class="row">
		<div class="twelve columns">
			<div class="eight columns">
				<a href="{% url 'events:month' current_month|lower %}">
					<div class="big_banner">
						<h1 class="big_month_display">{% now "F" %}</h1>
					</div>
				</a>
			</div>
			<div class="four columns pull_right">
			{% for month in semester %}
				{% if month|lower != current_month|lower %}
					<div class="twelve columns no_margin_left">
						<a href="{% url 'events:month' month %}">
							<div class="smaller_banner">
								<p class="small_month_display">{{month|title}}</p>
							</div>
						</a>
					</div>
					<br>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
	<br>
{% endblock %}