{% extends "base.html" %}
{% block title %}AECC | Events{% endblock %}
{% block subheaderpic %}
	<div class = "parallax" gumby-parallax="0.5" gumby-offset = "60" id = "event_picture">
		<div class = "row" id = "subheader-tittle">
			<div class = "block">
				<article>
					<span id="page-header">
						<h1>
							Events
						</h1>
					</span>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}
	<div class = "row">
			{% for months_for_display in months %}
			<div class="twelve columns" id="month-display">	
				<h1>{{months_for_display|lower|capfirst}}</h1>
					{% for e_information in events_information %}
						{% if e_information.month|upper == months_for_display|upper %}
							<div class="five columns event-tile">
								<div class="event-tile-image-box">
									<img src="../{{e_information.promo_picture}}" id="promo-pic">
								</div>
								<div class="event-tile-information">
									<h4><a href="/events/{{e_information.month}}/{{e_information.title_slug}}">{{e_information.title| truncatechars:'30'}}</a></h4>
									<p class="text-muted">{{e_information.location}} | {{e_information.event_date}}</p>
									<p class="event-description">{{ e_information.description|truncatechars:'140' }}</p>
								</div>
							</div>
						{% else %}
						{% endif %}
					{% endfor %}
			</div>
			{% endfor %}
	</div>
{% endblock %}

		{% for data in event %}
		<div class = "five columns push_one">
			<h2>{{event.title}}</h2>
			<p>Location: {{event.location}}</p>
			<p>Date & Hour: {{event.event_date}}</p>
			<div class="medium success btn"><a href="/events/ical">iCal</a></div>
			<img src = "/static/assets/{{event.promo_picture}}" width = "100%">		
			<h3>What will be covered?</h3>
			<p>{{event.event_description}}</p>	
		</div>
		{% endfor %}